body{
	background-image: url(group.of.dogs.jpg);
}

section{
	opacity: 0.6;
	border: 2px solid black;
	background-color: #ffffff;
	text-align: center;
}

ol{
	text-align: center;
}

button{
	text-align: center;
}